body {
    font-family: Arial, Helvetica, sans-serif;
    background: #EEE;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 600px;
    background-color: #FFF;
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head {
    background: #3a86ff;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 30px;
}
.head img {
    width: 50%;
    border-radius: 50%;
    position: relative;
    top: 25px;
    border: 5px solid #3a86ff;
}

.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0d1b2a;
    margin-bottom: 15px;
}
.container .details .name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.container .details .title {
    opacity: 0.7;
}

.container .social .fa {
    text-decoration: none;
    padding: 10px;
    color: #FFF;
    border-radius: 50%;
    margin: 10px;
    width: 20px;
    text-align: center;
}
.container .social .fa-facebook {
    background: #3B5998;
}
.container .social .fa-twitter {
    background: #55ACEE;
}
.container .social .fa-instagram {
    background: #ff006e;
}
.container .social .fa-linkedin {
    background: #007bb5;
}

.container .button {
    margin: 20px 0;

}
.container .button button {
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}
.container .button .first {
    background: #3a86ff;
}
.container .button .second {
    background: #4361ee;
}