body {
    font-family: Arial, Helvetica, sans-serif;
    background: #EEE;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 600px;
    background-color: #FFFF;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}