body {
    font-family: Arial, Helvetica, sans-serif;
    background: #EEE;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    background: #FFF;
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 45px;
    background: linear-gradient(135deg, #5fa8d3, #0466c8);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5)
}
.head {
    background: #023e7d;
    /* background: linear-gradient(135deg, #023e7d, #0466c8); */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-bottom: 30px;
    
}
.head img {
    width: 50%;
    border-radius: 50%;
    position: relative;
    top: 25px;
    outline: 5px solid #023e7d ;
    border: 3px solid #FFF;
}
.head img:hover {
    transform: scale(1.1);
}

.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    color: #FFF;
}
.container .details .name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.container .details .title {
    opacity: 0.7;
}

.container .social .fa {
    text-decoration: none;
    padding: 10px;
    color: #FFF;
    border-radius: 50%;
    margin: 10px;
    width: 20px;
    text-align: center;
    transition: all 0.3s ease;
}
.container .social .fa:hover {
    opacity: 0.5;
}
.container .social .fa-facebook {
    background: #3B5998;
}
.container .social .fa-twitter {
    background: #55ACEE;
}
.container .social .fa-instagram {
    background: #ff006e;
}
.container .social .fa-linkedin {
    background: #007bb5;
}

.container .button {
    margin: 20px 0;

}
.container .button button {
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
    transition: all 0.3s ease;
}
.container .button button:hover {
    opacity: 0.8;
}
.container .button .first {
    background: #3a86ff;
}
.container .button .second {
    background: #4361ee;
}
.container .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: -20px;
}
.container .icon img {
    width: 20px;
    padding: 40px;
}
.container .icon .like::after {
    content: "60k";
    position: absolute;
    color: #333;
    top: 0px;
    left: 0px;
    top: 42px;
    left: 70px
}
.container .icon .comment::after {
    content: "20k";
    position: absolute;
    color: #333;
    top: 42px;
    left: 167px;
}
.container .icon::after {
    content: "";
    position: absolute;
    background-color: #333;
    top: 38px;
    left: 120px;
    width: 2px;
    height: 25px;
    opacity: 0.3;
}
.container .icon::before {
    content: "";
    position: absolute;
    background-color: #333;
    top: 38px;
    right: 80px;
    width: 2px;
    height: 25px;
    opacity: 0.3;
}
.container .icon .share::after {
    content: "12k";
    position: absolute;
    color: #333;
    top: 42px;
    right: 5px;
}

@media (max-width: 350px) {
    .container .button {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}